/*
  Theme Name: Avilon
  Theme URL: https://bootstrapmade.com/avilon-bootstrap-landing-page-template/
  Author: BootstrapMade.com
  License: https://bootstrapmade.com/license/
*/
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background: #fff;
  color: #000;
  font-family: "Nunito Sans", sans-serif;
  overflow-x: hidden;
}

a {
  color: #f47920;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: #003a47;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: #0ba360;
  color: #fff;
  padding: 2px 20px 8px 20px;
  font-size: 16px;
  border-radius: 4px 4px 0 0;
  right: 15px;
  bottom: 0;
  transition: none;
}

.back-to-top:focus {
  background: #0ba360;
  color: #fff;
  outline: none;
}

.back-to-top:hover {
  background: #0ba360;
  color: #fff;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
  background: #fff;
  padding: 20px 0;
  height: 72px;
  -webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.75);
}

#header #logo {
  float: left;
  width: 30%;
}

#header #logo h1 {
  font-size: 36px;
  margin: -4px 0 0 0;
  padding: 0;
  line-height: 1;
  display: inline-block;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header #logo h1 a, #header #logo h1 a:hover {
  color: #fff;
}

#header #logo img {
  padding: 0;
  margin: 0;
  width: 100%;
  margin-top: -8px;
}

@media (max-width: 768px) {
  #header #logo h1 {
    font-size: 28px;
    margin-top: 0;
  }
  #header #logo img {
    max-height: 40px;
  }
}

@media (max-width: 480px) {
  #header #logo {
    float: left;
    width: 70% !important;
  }
}

@media (max-width: 992px) and (min-width: 481px) {
  #header #logo {
    float: left;
    width: 25% !important;
  }
}

#header.header-fixed {
  background: #fff;
  padding: 20px 0;
  height: 72px;
  transition: all 0.5s;
  -webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.75);
}

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/
#intro {
  width: 100%;
  height: 100vh;
  background: url('../img/background1-01.gif') center center no-repeat;
  background-size: cover;
  position: relative;
}

@media (min-width: 1024px) {
  #intro {
    background-attachment: fixed;
  }
}

#intro .intro-text {
  position: absolute;
  left: 0;
  top: 15%;
  right: 0;
  height: calc(50% - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

#intro h2 {
  margin: 30px 0 10px 0;
  padding: 0 15px;
  font-size: 48px;
  font-weight: 500;
  line-height: 56px;
  color: #003a47;
  font-family: "Raleway", sans-serif;
}

@media (max-width: 768px) {
  #intro h2 {
    font-size: 28px;
    line-height: 36px;
  }
}

#intro p {
  color: #465759;
  margin-bottom: 20px;
  padding: 0 15px;
  font-size: 28px;
    font-family: "Raleway", sans-serif;
}

@media (max-width: 768px) {
  #intro p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
  }
}

#intro .btn-get-started {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

#intro .btn-get-started:hover {
  color: #f27821;
  border: 2px solid #f27821;
  /*background: #fff;*/
}

#intro .product-screens {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: 50%;
}

#intro .product-screens img {
  box-shadow: 0px -2px 19px 4px rgba(0, 0, 0, 0.29);
}

#intro .product-screens .product-screen-1 {
  position: absolute;
  z-index: 30;
  left: calc(50% + 54px);
  bottom: 0;
  top: 30px;
}

#intro .product-screens .product-screen-2 {
  position: absolute;
  z-index: 20;
  left: calc(50% - 154px);
  bottom: 0;
  top: 90px;
}

#intro .product-screens .product-screen-3 {
  position: absolute;
  z-index: 10;
  left: calc(50% - 374px);
  bottom: 0;
  top: 150px;
}

@media (max-width: 767px) {
  #intro .product-screens .product-screen-1 {
    position: static;
    padding-top: 30px;
  }
  #intro .product-screens .product-screen-2, #intro .product-screens .product-screen-3 {
    display: none;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */

#navbar a {
  color: #fff;
}

#navbar button {
    border-radius: 0.25rem;
    padding: 2px 8px;
    color: #fff;
    border: 1px solid #FF8500;
    margin-top: 5px !important;
    background: #FF8500;
    font-weight: bolder;
}

#navbar .menu-icon {
    border-radius: 0.25rem;
    padding: 2px 8px;
    color: #fff;
    border: 1px solid #fff;
    margin-top: 5px !important;
    background: #fff;
}

#navbar .menu-icon:hover,#navbar .menu-icon:focus,#navbar .menu-icon:active {
    background: #fff;
    color: #fff;
    border: 1px solid #fff;
    box-shadow: none;
}

#navbar button:hover,#navbar button:focus,#navbar button:active {
    background: #FF8500;
  color: #fff;
  border: 1px solid #FF8500;
  box-shadow: none;
}

.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
  padding-top: 9px;
}

/* Nav Meu Container */
#nav-menu-container {
  float: right;
  margin: 0;
}

@media (max-width: 768px) {
  #nav-menu-container {
    display: none;
  }
}

/* Nav Meu Styling */
.nav-menu a {
  padding: 0 8px 10px 8px;
  text-decoration: none;
  display: inline-block;
  color: #003a47;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  outline: none;
}

.nav-menu li:after{
  display:block;
  content: '';
  border-bottom: solid 3px #003a47;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.nav-menu li:hover:after { transform: scaleX(1); }

.nav-menu > li {
  margin-left: 10px;
}

.nav-menu ul {
  margin: 4px 0 0 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff;
}

.nav-menu ul li {
  transition: 0.3s;
}

.nav-menu ul li a {
  padding: 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 13px;
  text-transform: none;
}

.nav-menu ul li:hover > a {
  color: #333;
}

.nav-menu ul li:after {
  content: none;
}

.nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 12px;
  z-index: 999999;
  margin: 2px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #003a47;
}

@media (max-width: 768px) {
  #mobile-nav-toggle {
    display: inline;
  }
}

/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 99999;
  background: #71b9b8;
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #003a47;
  font-size: 16px;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
}

#mobile-nav ul li a:hover {
  color: #003a47;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #003a47;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #f27821;
}

#mobile-nav ul .menu-item-active {
  color: #f27821;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(52, 59, 64, 0.9);
  display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
/* Sections Header
--------------------------------*/
.section-header .section-title {
  font-size: 32px;
  color: #003a47;
  text-align: center;
  font-weight: 400;
}

.section-header .section-description {
  text-align: justify;
  padding-bottom: 40px;
  color: #000;
}

.section-header li{
  color: #000;
}

.section-header .section-divider {
  display: block;
  width: 60px;
  height: 3px;
  background: #169dc5;
  background: linear-gradient(0deg, #003a47 0%, #faf2e8 100%);
  margin: 0 auto;
  margin-bottom: 20px;
}

/* Section with background
--------------------------------*/
.section-bg {
  background: #e3eeff;
}

.section-about-bg{
  background: none;
  /*background: url('../img/grid-01-01.png') center center no-repeat;*/
  /*background-size: cover;*/
}

/* About Us Section
--------------------------------*/
#about {
  padding: 60px 0;
  overflow: hidden;
}

#about .about-img {
  height: 510px;
  overflow: hidden;
}

#about .about-img img {
  margin-left: -15px;
  max-width: 100%;
}

@media (max-width: 768px) {
  #about .about-img {
    height: auto;
  }
  #about .about-img img {
    margin-left: 0;
    padding-bottom: 30px;
  }
}

#about .content .h2 {
  color: #333;
  font-weight: 300;
  font-size: 24px;
}

#about .content h3 {
  color: #777;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  font-style: italic;
}

#about .content p {
  line-height: 26px;
}

#about .content p:last-child {
  margin-bottom: 0;
}

#about .content i {
  font-size: 20px;
  padding-right: 4px;
  color: #169dc5;
}

#about .content ul {
  list-style: none;
  padding: 0;
}

#about .content ul li {
  padding-bottom: 10px;
}

/* About Us Section
--------------------------------*/
#terms {
  padding: 72px 0;
  overflow: hidden;
}

#terms .content .h2 {
  color: #777;
  font-weight: 400;
  font-size: 20px;
}

#terms .content h3 {
  color: #000;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
}

#terms .content p {
  line-height: 1.75;
}

#terms .content p:last-child {
  margin-bottom: 0;
}

#terms .content i {
  font-size: 20px;
  padding-right: 4px;
  color: #169dc5;
}

#terms .content ul {
  list-style: none;
  padding: 0;
}

#terms .content ul li {
  padding-bottom: 10px;
}

/* Solutions Section
--------------------------------*/
#solution {
  padding: 15px 0 20px 0;
  overflow: hidden;
}

#solution .about-img {
  height: 510px;
  overflow: hidden;
}

#solution .about-img img {
  margin-left: -15px;
  max-width: 100%;
}

@media (max-width: 768px) {
  #solution .about-img {
    height: auto;
  }
  #solution .about-img img {
    margin-left: 0;
    padding-bottom: 30px;
  }
}

#solution .content .h2 {
  color: #333;
  font-weight: 300;
  font-size: 24px;
}

#solution .content h3 {
  color: #777;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  font-style: italic;
}

#solution .content p {
  line-height: 26px;
}

#solution .content p:last-child {
  margin-bottom: 0;
}

#solution .content i {
  font-size: 20px;
  padding-right: 4px;
  color: #169dc5;
}

#solution .content ul {
  list-style: none;
  padding: 0;
}

#solution .content ul li {
  padding-bottom: 10px;
}

#solution .card{
  transition: transform .3s ease,box-shadow .3s ease;
  border: 1px solid #003a47;
  background: #ebedee;
    min-height: 250px;
}

#solution .card:hover{
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
  box-shadow: 4px 4px 15px 0 rgba(0,0,0,0.5);
  -webkit-box-shadow: 4px 4px 15px 0 rgba(0,0,0,0.5);
  -moz-box-shadow: 4px 4px 15px 0 rgba(0,0,0,0.5);
}

/* About Us bottom Section
--------------------------------*/
#about-us {
  padding: 20px 0;
  overflow: hidden;
}

#about-us .about-img {
  height: 510px;
  overflow: hidden;
}

#about .about-img img {
  margin-left: -15px;
  max-width: 100%;
}

@media (max-width: 768px) {
  #about-us .about-img {
    height: auto;
  }
  #about-us .about-img img {
    margin-left: 0;
    padding-bottom: 30px;
  }
}

#about-us .content .h2 {
  color: #333;
  font-weight: 300;
  font-size: 24px;
}

#about-us .content h3 {
  color: #777;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  font-style: italic;
}

#about-us .content p {
  line-height: 26px;
}

#about-us .content p:last-child {
  margin-bottom: 0;
}

#about-us .content i {
  font-size: 20px;
  padding-right: 4px;
  color: #169dc5;
}

#about-us .content ul {
  list-style: none;
  padding: 0;
}

#about-us .content ul li {
  padding-bottom: 10px;
}

/* Product Featuress Section
--------------------------------*/
#features {
  background: #fff;
  padding: 60px 0 0 0;
  overflow: hidden;
}

#features .features-img {
  text-align: center;
  padding-top: 20px;
}

@media (min-width: 769px) {
  #features .features-img {
    padding-top: 120px;
    margin-top: -200px;
  }
}

#features .features-img img {
  max-width: 100%;
}

#features .box {
  margin-bottom: 15px;
  text-align: center;
}

#features .icon {
  margin-bottom: 10px;
}

#features .icon i {
  color: #666666;
  font-size: 40px;
  transition: 0.5s;
}

#features .icon i:before {
  background: #169dc5;
  background: linear-gradient(45deg, #169dc5 0%, #55fabe 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#features .title {
  font-weight: 300;
  margin-bottom: 15px;
  font-size: 22px;
}

#features .title a {
  color: #111;
}

#features .description {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 10px;
  text-align: justify;
}

#features .section-description {
  padding-bottom: 10px;
}

/* Product Advanced Featuress Section
--------------------------------*/
#advanced-features {
  overflow: hidden;
}

#advanced-features .features-row {
  padding: 30px 0 30px 0;
}

#advanced-features h2 {
  font-size: 26px;
  font-weight: 700;
  color: #000;
}

#advanced-features h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: italic;
  color: #999;
}

#advanced-features p {
  line-height: 24px;
  color: #777;
  margin-bottom: 30px;
}

/*#advanced-features i {*/
  /*color: #666666;*/
  /*font-size: 35px;*/
  /*transition: 0.5s;*/
  /*float: left;*/
  /*padding: 0 15px 0px 0;*/
  /*line-height: 1;*/
/*}*/

#advanced-features i:before {
  background: #169dc5;
  background: linear-gradient(45deg, #169dc5 0%, #55fabe 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#advanced-features .advanced-feature-img-right {
  max-width: 100%;
  float: right;
  padding: 0 0 30px 30px;
}

#advanced-features .advanced-feature-img-left {
  max-width: 100%;
  float: left;
  padding: 0 30px 30px 0;
}

@media (max-width: 768px) {
  #advanced-features .advanced-feature-img-right, #advanced-features .advanced-feature-img-left {
    max-width: 50%;
  }
}

@media (max-width: 767px) {
  #advanced-features .advanced-feature-img-right, #advanced-features .advanced-feature-img-left {
    max-width: 100%;
    float: none;
    padding: 0 0 30px 0;
  }
}

/* Call To Action Section
--------------------------------*/
#call-to-action {
  overflow: hidden;
  background: linear-gradient(45deg,#72afd3, #71b9b8);
  padding: 30px 0 15px 0;
}

#call-to-action .cta-title {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

#call-to-action .cta-text {
  color: #fff;
}

@media (min-width: 769px) {
  #call-to-action .cta-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

#call-to-action .cta-btn {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 4px 20px;
  transition: background 0.5s;
  margin: 10px;
  background: #0ba360;
  border-radius: .25rem;
  color: #fff;
  border: 1px solid #0ba360;
}

#call-to-action .cta-btn:hover {
  background: #0ba360;
  border-radius: .25rem;
  color: #fff;
  border: 1px solid #0ba360;
}

/* More Features Section
--------------------------------*/
#more-features {
  padding: 60px 0 60px 0;
  overflow: hidden;
}

#more-features .box {
  padding: 40px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
  background: #fff;
  transition: 0.4s;
}

#more-features .icon {
  float: left;
}

#more-features .icon i {
  color: #666666;
  font-size: 80px;
  transition: 0.5s;
  line-height: 0;
}

#more-features .icon i:before {
  background: #169dc5;
  background: linear-gradient(45deg, #169dc5 0%, #55fabe 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#more-features h4 {
  margin-left: 100px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

#more-features h4 a {
  color: #111;
}

#more-features p {
  font-size: 14px;
  margin-left: 100px;
  margin-bottom: 0;
  line-height: 24px;
}

@media (max-width: 767px) {
  #more-features .box {
    margin-bottom: 20px;
  }
  #more-features .icon {
    float: none;
    text-align: center;
    padding-bottom: 15px;
  }
  #more-features h4, #more-features p {
    margin-left: 0;
    text-align: center;
  }
}

/* Clients Section
--------------------------------*/
#clients {
  padding: 30px 0;
  background: #fff;
  overflow: hidden;
}

#clients img {
  max-width: 100%;
  opacity: 0.5;
  transition: 0.3s;
  padding: 15px 0;
}

#clients img:hover {
  opacity: 1;
}

/* Pricing Section
--------------------------------*/
#pricing {
  padding: 60px 0 60px 0;
  overflow: hidden;
}

#pricing .box {
  padding: 40px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
  background: #fff;
  text-align: center;
}

#pricing h3 {
  font-weight: 400;
  margin-bottom: 15px;
  font-size: 28px;
}

#pricing h4 {
  font-size: 46px;
  color: #169dc5;
  font-weight: 300;
}

#pricing h4 sup {
  font-size: 20px;
  top: -20px;
}

#pricing h4 span {
  color: #bababa;
  font-size: 20px;
}

#pricing ul {
  padding: 0;
  list-style: none;
  color: #999;
  text-align: left;
  line-height: 20px;
}

#pricing ul li {
  padding-bottom: 12px;
}

#pricing ul i {
  color: #169dc5;
  font-size: 18px;
  padding-right: 4px;
}

#pricing .get-started-btn {
  background: #515e61;
  display: inline-block;
  padding: 6px 30px;
  border-radius: 20px;
  color: #fff;
  transition: none;
  font-size: 14px;
  font-weight: 400;
  font-family: "Nunito Sans", sans-serif;
}

#pricing .featured {
  border: 2px solid #169dc5;
}

#pricing .featured .get-started-btn {
  background: linear-gradient(45deg, #f47920, #169dc5);
}

/* Frequently Asked Questions Section
--------------------------------*/
#faq {
  padding: 60px 0;
  overflow: hidden;
}

#faq #faq-list {
  padding: 0;
  list-style: none;
}

#faq #faq-list li {
  border-bottom: 1px solid #ddd;
}

#faq #faq-list a {
  padding: 12px 0;
  display: block;
  position: relative;
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 300;
  padding-right: 20px;
}

#faq #faq-list i {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 10px;
}

#faq #faq-list p {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  #faq #faq-list a {
    font-size: 18px;
  }
  #faq #faq-list i {
    top: 13px;
  }
}

#faq #faq-list a.collapse {
  color: #169dc5;
}

#faq #faq-list a.collapsed {
  color: #000;
}

#faq #faq-list a.collapsed i::before {
  content: "\f2c7" !important;
}

/* Our Team Section
--------------------------------*/
#team {
  padding: 60px 0;
  overflow: hidden;
}

#team .member {
  text-align: center;
  margin-bottom: 20px;
}

#team .member .pic {
  margin-bottom: 15px;
  overflow: hidden;
  height: 260px;
}

#team .member .pic img {
  max-width: 100%;
}

#team .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
}

#team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
}

#team .member .social {
  margin-top: 15px;
}

#team .member .social a {
  color: #b3b3b3;
}

#team .member .social a:hover {
  color: #169dc5;
}

#team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

/* Gallery Section
--------------------------------*/
#gallery {
  background: #fff;
  padding: 60px 0;
  overflow: hidden;
}

#gallery .container-fluid {
  padding: 0px;
}

#gallery .gallery-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

#gallery .gallery-item {
  overflow: hidden;
  position: relative;
  padding: 0;
  vertical-align: middle;
  text-align: center;
}

#gallery .gallery-item img {
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  width: 100%;
}

#gallery .gallery-item:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#gallery .gallery-item:hover .gallery-overlay {
  opacity: 1;
  background: rgba(0, 0, 0, 0.7);
}

/* Contact Section
--------------------------------*/
#contact {
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 60px 0;
  overflow: hidden;
}

#contact .contact-about h3 {
  font-size: 36px;
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 1;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #169dc5;
}

#contact .contact-about p {
  font-size: 14px;
  font-family: "Nunito Sans", sans-serif;
  color: #000;
}

#contact .social-links {
  padding-bottom: 20px;
}

#contact .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #fff;
  color: #169dc5;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  border: 1px solid #169dc5;
}

#contact .social-links a:hover {
  background: #169dc5;
  color: #fff;
}

#contact .info {
  color: #333333;
}

#contact .info i {
  font-size: 32px;
  color: #003a47;
  float: left;
  line-height: 1;
}

#contact .info p {
  padding: 0 0 0px 42px;
  font-size: 14px;
}

#contact .form #sendmessage {
  color: #169dc5;
  border: 1px solid #169dc5;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #sendmessage.show, #contact .form #errormessage.show, #contact .form .show {
  display: block;
}

#contact .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#contact .form input, #contact .form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

#contact .form button[type="submit"] {
  background: #0ba360;
  border-radius: .25rem;
  padding: 4px 20px;
  color: #fff;
  border: 1px solid #0ba360;
  font-size: 20px;
}

#contact .form button[type="submit"]:hover {
  cursor: pointer;
  color: #fff;
  border: 1px solid #0ba360;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #fff;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 30px 0;
  color: #333;
  font-size: 14px;
}

#footer .credits {
  font-size: 13px;
  color: #888;
}

#footer .footer-links a {
  color: #666;
  padding-left: 15px;
}

#footer .footer-links a:first-child {
  padding-left: 0;
}

#footer .footer-links a:hover {
  color: #003a47;
}

/*--------------------------------------------------------------
# Customized Css
--------------------------------------------------------------*/

#about-logo-img {
  width: 80%;
  margin-bottom: 15px;
}

/*----------------------------------------------------------------
# Pricing Table
 ------------------------------------------------------------------*/

/***
Content
***/
.content {
  padding: 30px 0;
}

/***
Pricing table
***/
.pricing {
  position: relative;
  margin-bottom: 15px;
  border: 3px solid #eee;
  border-radius: 20px;
}

.pricing-active {
  border: 3px solid #36d7ac;
  margin-top: -10px;
  box-shadow: 7px 7px rgba(54, 215, 172, 0.2);
}

.pricing:hover {
  border: 3px solid #899feb;
}

.pricing:hover h4 {
  color: #faf2e8;
}

.pricing-head {
  text-align: center;
}

.pricing-head h3,
.pricing-head h4 {
  margin: 0;
  line-height: normal;
}

.pricing-head h3 span,
.pricing-head h4 span {
  display: block;
  margin-top: 5px;
  font-size: 14px;
  font-style: normal;
}

.pricing-head h3 {
  font-weight: 300;
  color: #414143;
  padding: 15px 0;
  font-size: 24px;
  background: #dfecfc;
  border-bottom: solid 1px #899feb;
  border-radius: 15px;
}

.pricing-head h4 {
  color: #faf2e8;
  padding: 5px 0;
  font-size: 54px;
  font-weight: 300;
  background: #fbfef2;
  border-bottom: solid 1px #f5f9e7;
}

.pricing-head-active h4 {
  color: #36d7ac;
}

.pricing-head h4 i {
  top: -8px;
  font-size: 28px;
  font-style: normal;
  position: relative;
}

.pricing-head h4 span {
  top: -10px;
  font-size: 14px;
  font-style: normal;
  position: relative;
}

/*Pricing Content*/
.pricing-content li {
  color: #474747;
  font-size: 14px;
  padding: 7px 15px;
}

/*Pricing Footer*/
.pricing-footer {
  color: #777;
  font-size: 11px;
  line-height: 17px;
  text-align: center;
  padding: 0 20px 19px;
}

/*Priceing Active*/
.price-active,
.pricing:hover {
  z-index: 9;
}

.price-active h4 {
  color: #36d7ac;
}

.no-space-pricing .pricing:hover {
  transition: box-shadow 0.2s ease-in-out;
}

.no-space-pricing .price-active .pricing-head h4,
.no-space-pricing .pricing:hover .pricing-head h4 {
  color: #36d7ac;
  padding: 15px 0;
  font-size: 80px;
  transition: color 0.5s ease-in-out;
}

.pricing_btn,.register_btn{
  background: #faf2e8;
  border-radius: 20px;
  padding: 8px 30px;
  color: #fff;
  border: 1px solid #faf2e8;
}
.pricing-choose:hover{
    cursor: pointer;
}
.modal_close{
  background: #17a2b8;
  border-radius: 20px;
  padding: 8px 30px;
  color: #fff;
  border: 1px solid #17a2b8;
}

.payment-errors{
  color: red;
}

#features {
  background: #fff;
  padding: 20px 0 0px 0;
  overflow: hidden;
}

#features.section-about-bg {
  background: url('../img/grid-01-01.png') center center no-repeat;
  background-size: auto auto;
  background-size: cover;
}

#gallery .gallery-item{
  border: 2px solid #faf2e8;
}

#advanced-features .iconimg{
  width: 10%;
  padding-right: 5px;
}

#advanced-features h4.title{
  color: #003a47;
}

#advanced-features .galleryimg{
  width: 100%;
}

#advanced-features .carousel-control-prev span, .carousel-control-next span {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: #003a47;
  color: #faf2e8;
  border-radius: 50%;
}

#advanced-features .fa-arrow-left::before, #gallery .fa-arrow-right::before  {
  color: #fff;
}

.sf-arrows ul .sf-with-ul::after {
  content: "\f105";
  padding-top: 4px;
}

#contact .section-title{
  color: #003a47;
}

.pricing-content.list-unstyled.pricing-first-section {
  height: 225px;
}

.pricing-content.list-unstyled.pricing-second-section {
  height: 80px;
}

.pricing hr {
  width: 80%;
  background: #f37920;
}

.setup-section {
  color: #fff;
  background: url("../img/banner-01.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .pricing-content.list-unstyled.pricing-first-section {
    height: 260px;
  }

  .pricing-content.list-unstyled.pricing-second-section {
    height: 130px;
  }

}

.pricing-head .pricing-star{
  font-size: 40px;
  top: 0;
}

.pricing .table td{
  vertical-align: middle;
  border: none;
}

.tabs{
  padding-top:30px;
  padding-bottom:30px;
}

/*.tabs .tab-pane{*/
  /*margin-left:20px;*/
/*}*/

.tabs h3{
  font-size:20px;
  margin-top:10px;
  margin-bottom:60px;
}

.tabs p{
  font-size:14px;
  display: table-cell;
}

.tabs a{
  font-size: 16px;
  font-weight: 700;
  color: #139791;
}

.tab-li{
  background-color: #fff;
  text-align: center;
  height: auto;
  width: 70%;
  margin: 10px auto;
  -webkit-border-radius: 3px;
  color: #139791;
  border: 10px solid;
  font-size: 16px;
  padding: 14px;
  border-radius: 0px;
}

.tab-li.active{
  background-color: #139791;
  color: #fff;
  border: 10px solid #139791;
}

.tab-li:hover{
  cursor: pointer;
}

.tab-li.active a{
  color: #fff;
}

.next-plan{
    border: 2px solid #faf2e8;
    border-radius: 10px;
    padding-top: 20px;
    text-align: center;
    font-size: 24px;
}

.range-slider__range {
  -webkit-appearance: none;
  width: calc(100%);
  height: 8px;
  border-radius: 5px;
  outline: none;
  padding: 0;
  margin: 0;
  background: -webkit-gradient(
          linear,
          left top,
          right top,
          color-stop(0.15, #003a47),
          color-stop(0.15, #e2e2e2)
  );
}
.range-slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #003a47;
  cursor: pointer;
  transition: background .15s ease-in-out;
}
.range-slider__range::-webkit-slider-thumb:hover {
  background: #003a47;
}
.range-slider__range:active::-webkit-slider-thumb {
  background: #003a47;
}
.range-slider__range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #003a47;
  cursor: pointer;
  transition: background .15s ease-in-out;
}
.range-slider__range::-moz-range-thumb:hover {
  background: #003a47;
}
.range-slider__range:active::-moz-range-thumb {
  background: #003a47;
}
.range-slider__range:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 3px #fff, 0 0 0 6px #003a47;
}

::-moz-range-track {
    background: #e2e2e2;
  border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}

output {
  position: absolute;
  text-align: center;
  color: #000;
  display: inline-block;
  font: inherit;
  left: 0;
  margin-left: -1%;
  font-weight: bold;
  transform: translate(-50%, 25%);
  margin-top: -35px;
  font-size: 18px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  output {
    margin-top: -65px;
  }
}

@-moz-document url-prefix(){
  output{ margin-top: -35px !important;
  }
}

.error{
  color: red;
}
.message{
  font-size: 15px;
}

.success{
  color: green;
}

.form_same_line{
  display: inline-block;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#registerFreshdesk label{
  text-align: right;
}

@media screen and (max-width:768px) {
  #registerFreshdesk label{
    text-align: left !important;
  }
}

.button_theme_color{
  background: #0ba360;
  border-radius: 0.25rem;
  padding: 4px 20px;
  color: #fff;
  border: 1px solid #0ba360;
  font-size: 20px;
}

.button_theme_color_sm{
  padding: 4px 15px;
  font-size: 16px;
}

.button_theme_color:hover{
  background: #0ba360;
  color: #fff;
  border: 1px solid #0ba360;
}

.theme_color{
  color: #faf2e8;
}

.transform_div{
  transform: scale(1);
  border: 3px solid #899feb;
  -webkit-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.4);
  box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.4);
}

.highlight_div{
  opacity: 0.5;
}

.tab-list-img{
  width: 18px;
  margin-right: 10px;
}

.tabs .table td{
  padding: .5rem;
  vertical-align: middle;
  border: none;
}

.table-borderless td{
  border: none;
  vertical-align: middle;
}

.cost p {
  font-size: 16px;
  font-weight: 400;
  color: #000;
}

/*five columns class*/
.col-xs-5-col,
.col-sm-5-col,
.col-md-5-col,
.col-lg-5-col {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-md-5-col, .col-lg-5-col{
  width: 20%;
  float: left;
}

@media (max-width: 768px) {
  .col-xs-5-col {
    width: 100%;
    float: left;
  }
}

@media (min-width: 768px) {
  .col-sm-5-col {
    width: 50%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-5-col {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-5-col {
    width: 20%;
    float: left;
  }
}

.pricing-table tbody td{
  font-size: 14px;
  text-align: center;
  border: 1px solid #899feb;
  vertical-align: middle;
}

.pricing-table thead tr th:first-child{
  border: none;
}

.pricing-table tbody tr:nth-child(even) {
  background-color: #f8f9fa;
}

.pricing-table-head h3{
  font-weight: 500;
  color: #000;
  padding: 8px 0;
  font-size: 18px;
  background: #dfecfc;
  margin: 0;
  border-right: none;
}

#pricing-calc{
  padding: 30px 0;
  background: #f5ffff;
}

#tabs .form-control{
  color: #000;
}

.btn_register{
  padding: 4px 10px;
}

.modal-lg {
  max-width: 60%;
}

#priceCalcModal .modal-header {
  padding: 0.5rem;
  border: none;
}

#priceCalcModal .modal-title{
  font-size: 24px;
  color: #000;
  text-align: center;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .modal-lg {
    max-width: 90%;
    margin: 1.75rem auto;;
  }
}

@media screen and (max-width: 596px) {
  #navbar a {
    color: #fff;
    font-size: 1rem;
  }
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  background-color: #000;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999999999;
  display: none;
  overflow: hidden;
  outline: 0;
}

.pricing-table.table thead th {
  vertical-align: bottom;
  border: 1px solid #899feb;
  min-width: 180px;
  text-align: center;
}

@media screen and (max-width: 596px) {
  .pricing-table.table thead th {
    min-width: 145px;
  }
}

.arrow1{
  animation: slide1 1s ease-in-out infinite;
  margin-left: 0px;
  font-size: 18px;
}

@keyframes slide1 {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(10px, 0);
  }
}

.account__column--left {
  background: transparent;
  border: none;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.account__column--right {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  background: #fff !important;
}

.account__row {
  display: flex;
  margin-bottom: 20px;
  flex-direction: row;
}
.card-section {
  display: flex;
  align-items: center;
  border-radius: 1px;
  background-color: inherit;
  border: 1px solid inherit;
  padding: 15px;
  margin-top: 20px;
}

.account__title {
  font-family: inherit;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  text-align: left;
  font-size: 18px;
  letter-spacing: normal;
  color: inherit;
}

/*Pricing page changes css*/
#pricingTab {
  border: none;
}

#pricingTab li a{
  padding: 4px 16px;
  margin-right: 5px;
  background: #fff;
  font-size: 18px;
  color: #0ba360;
  border: 2px solid #0ba360;
  border-radius: 50px;
  overflow: hidden;
  z-index: 1;
  position: relative;
  transition: all 0.4s ease-in 0s;
}
#pricingTab li a:hover{
  color: #fff;
  background: #0ba360;
  border: 2px solid #0ba360;
}
#pricingTab li a.active{
  color: #fff;
  background: #0ba360;
  border: 2px solid #0ba360;
}

#fs_pricingTab {
  border: none;
}

#fs_pricingTab li a{
  padding: 4px 16px;
  margin-right: 5px;
  background: #fff;
  font-size: 18px;
  color: #0ba360;
  border: 2px solid #0ba360;
  border-radius: 50px;
  overflow: hidden;
  z-index: 1;
  position: relative;
  transition: all 0.4s ease-in 0s;
}
#fs_pricingTab li a:hover{
  color: #fff;
  background: #0ba360;
  border: 2px solid #0ba360;
}
#fs_pricingTab li a.active{
  color: #fff;
  background: #0ba360;
  border: 2px solid #0ba360;
}

